header{
    
    .before-header{
        background-color: $bgs-color-primary-1;
        height: 58px;
        width: 100%;
        background-image: url("../../img/Svg/Bg\ Dark2.svg");
        background-size: cover;
        padding: 20px 0;
    }
    .top--header_toll{
        @include font(20px, $font-thin, $bgs-color-primary-5, 100);
    }
    .top--header-phone{
        @include font(20px, $font-regular, $bgs-color-primary-5, 600);
        text-decoration: none;
    }
    .header-menu{
        background-color: $bgs-color-primary-2;
        height: 40px;
        width: 100%;
    }
    .after-header{
        background-image: url("../../img/woman.svg");
        background-color: $bgs-color-primary-3;
        height: 470px;
    }
    .LogoBestWriting{
        position: relative;
        left: -10px;
        padding-top: 10px;
    }
    .header--contact{
        color: $font-color-primary-1;
    }
    .top--header_butons {
        text-align: right;
        a {
          text-align: left;
        }
        .btn--header_liveChat:hover {
          background: url("../../img/Svg/Chat2.svg") no-repeat 100%;
          color: $btn--color-primary_2--hover;
        }
        .btn--header_login:hover {
          background: url("../../img/Svg/Login2.svg") no-repeat 100%;
          color: $btn--color-primary_2--hover;
        }
        
      }
      a:first-child {
        margin-right: 30px;
    }
    .btnBetter{
        background-color: $btn--color-primary_1--hover;
        color: $btn--color-primary_4;
        &:after{
            border-color: $btn--color-primary_1--hover transparent transparent;
        }
        &:hover{
            background-color: $btn--color-primary_4;
            color: $btn--color-primary_1--hover ;
        }
        &:hover::after{
            border-color: $btn--color-primary_4 transparent transparent;
    
        }
    }
    .nav {
        padding-top: 4px;
        color: $font-color-primary-2;
        width: 100%;
        align-items: center;
        font-family: $font-regular;
        font-size: 22px;
        text-transform: uppercase;
        float: right;
    }
    
    .nav__link {        
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
        position: relative;     
        color: $font-color-primary-2;
        text-decoration: yellow;
        transition: color .1s linear;
    }
    .nav__link:hover {
        color: $font-color-primary-3;
        background-color: $btn--color-primary_1--hover;
        text-decoration: none;
    }
    .nav__link.active {
        color: $font-color-primary-3; 
        background-color: $btn--color-primary_1--hover
        
        ;
    }
    .h3{
        
        @include font(22px, $font-regular, $font-color-primary-7, 500);
        text-transform: uppercase;
        margin: 0;
        padding: 40px 0 20px;
    }
    ul {
        font-size: 18px;
        padding-top: 10px;
        li {
            padding-top: 10px;
            color: $bgs-color-primary-2;
        }
        li span {
          color: $font-color-primary-7;
        }
      }
      .header-links{
        background-color: $bgs-color-primary-4;
        height: 110px;
        width: 100%;
        background-image: url("../../img/Svg/Bg1-1.svg");
        background-size: cover;
        padding: 7px 0;
      }
      .header-links a {
        display: inline-block;
        width: 44%;
        margin: 10px;
        color: #1b7fd0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        padding: 10px 0;
        border: 1px solid #1b7fd0;
        overflow: hidden;
        position: relative;
        transition: 1.5s;
        transform: scale(1);
    }
    .btn_about{
        border: 1px solid $btn--color-primary_6;
        background-color: transparent;
        font-size: 16px;
        font-family: $font-regular;
        width: 100%;
    }
    .header-blog{
        background-color: $font-color-primary-1;
        background-image: url("../../img/Svg/Bg3-1.svg");
        height: 315px;
    }
   
}