$color: red;
$font--color_primary: blue;
//Background colors
$bgs--color-primary_1: #013056;
$bgs--color-primary_2: #1b7fd0;
// Text color
$font--color-primary_1: #1b7fd0;
$font--color-primary_2: #000;

//Button colors
$btn--color-primary_1: #dd0000;
$btn--color-primary_1--hover: #013056;

$btn--color-primary_2: #1b7fd0;
$btn--color-primary_2--hover: #caddea;




