
//Background colors
$bgs-color-primary-1:#013056;
$bgs-color-primary-2:#1b7fd0;
$bgs-color-primary-3:#e1eaf1;
$bgs-color-primary-4:#075da2;
$bgs-color-primary-5:#caddea;
$bgs-color-primary-6:#fbfdff;
$bgs-color-primary-7:#ffffff;

// Text color
$font-color-primary-1:#caddea;
$font-color-primary-2:#ffffff;
$font-color-primary-3:#1b7fd0;
$font-color-primary-4:#075da2;
$font-color-primary-5:#6c8ca5;
$font-color-primary-6:#013056;
$font-color-primary-7:#000000;

//Button colors
$btn--color-primary_1: #dd0000;
$btn--color-primary_1--hover: #caddea;

$btn--color-primary_2: #a40000;
$btn--color-primary_2--hover: #1b7fd0;

$btn--color-primary_3:#075da2;
$btn--color-primary_4:#1b7fd0;
$btn--color-primary_5:#013056;
$btn--color-primary_6:#ffffff;

